/* 
    Document   : style
    Created on : Mar 31, 2013, 7:51:17 AM
    Author     : newvalue
    Description:
        Purpose of the stylesheet follows.
*/

body,html {
    min-width: 320px;
}
#search-box {
    background: #fff url(/images/search.png) no-repeat;
    background-size: 3rem 3rem;
    padding: 0 3rem ;
}

#search-form {
    padding-left: 120px;
}
#logo {
    position: absolute;
    top: 3px;
}
#subMenu{
    display: none;
    position: absolute;
    right: 0px;
    height: auto;
    top: 5rem;
    left: auto;
    width: 50%;
}
#suggest-container {
    font-weight: 100;
    padding: 0;

}
#suggest-container li{
    padding-left: 5rem;
}
#suggest-container ul{
    background: #00aacc;
}
.bold {
    font-weight: bold;
}
h2.bb-docs {
    padding: 0.4rem 3rem;
    margin: -0.1rem 0 0;
    border: solid 0.1rem #e8e8e8;
    color: #666;
    font-size: 1.8rem;
    font-family: "MozTT", Sans-serif;
    font-weight: lighter;
    background-color: #f5f5f5;
}
form { margin: 1rem 2rem; }